<h2>📝 Registrierung</h2>
<form method="POST">
  <input type="text" name="nutzername" placeholder="Nutzername" class="form-control mb-2" required>
  <input type="password" name="passwort" placeholder="Passwort" class="form-control mb-2" required>
  <input type="email" name="E-Mail" placeholder="e-mail" class="form-control mb-2" required>
  <input type="text" name="discord" placeholder="Discort" class="form-control mb-2">
  <button class="btn btn-primary">Registrieren</button>
</form>
<a href="/login">Schon registriert?</a>
